---
import Hamburger from "./Hamburger.vue";
---

<header class="w-full p-4 fixed top-0">
  <nav class="max-w-custom mx-auto flex justify-between items-center py-1">
    <div id="logo" class="font-headerFont text-xl">Phait-OT</div>
    <Hamburger />
  </nav>
</header>
